html{
  background-image:url('fall-leaves.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  xbackground: url('fall-leaves.jpg') no-repeat center center fixed; 
 x-webkit-background-size: cover;
  x-moz-background-size: cover;
  x-o-background-size: cover;
  xbackground-size: cover;
  font-size: 30px;
  text-align:center;
  font-family: Ubuntu, sans-serif;
  xcolor: white;

}


ul li{
  display:inline-block;
  padding: 10px;
}

a{
}
#hero{
  text-transform: uppercase;
  padding: 100px;
}
.hero-big{
  font-size: 3em;
  margin-top: 40px;
}
.hero-normal{
  font-size: 2em;
}