// This is a partial.
// It lies in <source>/_sass, just waiting to be imported.
// It does not contain the YAML front matter and has no corresponding output file in the built site.

h1{
  color: $main-color;
}

h2{
  color: $second-color;
}

h3{
  color: $third-color;
}

.duedate{
  font-size: 1.3em;
  color: #999;
}